<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.signme.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission
        android:name="eu.signme.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="eu.signme.app.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <application
        android:name="eu.signme.app.util.SignMeApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EmailSentActivity"
            android:label="@string/title_activity_email_sent"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EmailAlreadySentActivity"
            android:label="@string/title_activity_email_already_sent"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AccountNotActivatedActivity"
            android:label="@string/title_activity_account_not_activated"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AccountActivatedActivity"
            android:label="@string/title_activity_account_activated"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LecturesActivity"
            android:label="@string/title_activity_lectures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LectureActivity"
            android:label="@string/title_activity_lecture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NoConnectionActivity"
            android:label="@string/title_activity_no_connection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TopComradesActivity"
            android:label="@string/title_activity_top_comrades"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="eu.signme.app.push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.GCM_RECEIVED_ACTION" />

                <category android:name="eu.signme.app" />
            </intent-filter>
        </receiver>

        <service android:name="eu.signme.app.push.GcmMessageHandler" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>